@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    /* margin: 1.5px; */
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background-color: rgb(229, 228, 228);
}


header{
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.624);
    width: 99%;
    margin-left: 10px;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
}

.header-nav ul li a{
    margin: 4px;
    left: 4px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.header-nav ul li a.active{
    color: #00FF00;

}

a.active{
    border-bottom: 5px solid #00FF00;
}

a.activ{
    border-bottom: 5px solid aliceblue;
    text-decoration: none;
}

header, .btno button{

    padding: 30px;
    border-bottom: 5px solid #00FF00;
}

.btno button{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00FF00

}


.btno button:hover{
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: 0.5s linear;
    cursor: pointer;
}

.btno button:hover, a{
        color: #00FF00;
}


.Bio1{
margin-top: 50px;
color: rgba(0, 0, 0, 0.624);
font-size: 1em;

}


.Bio{

    margin-top: 40px;
    display: flex;
}

#Fot_Bio{

    width: 200px;


}

.titulo{

    color: #00FF00;
    font-size: 1.9em;


}

.subtitulo{

    color: rgba(0, 0, 0, 0.624);
    font-size: 1em;
}

.card{
    display: flex;
    margin-left: 320px;
    margin-top: 40px;
    flex-wrap: wrap;
    border-radius: 24px;
    background-color: rgba(238, 236, 236, 0.018);
    overflow: hidden;
    width: 50%;
    height: 36vh;
    box-shadow: rgba(49, 245, 0, 0.35) 0px 5px 15px;
}

.background img {
    width: 80%;
    height: 90%;
    /* object-fit: cover; */
}

.content{
    flex: 3 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 16px;
}

.content > h1{
    color: rgba(0, 0, 0, 0.624);
    font-size: 1em;
}



/* Responsividade */
@media only screen and (min-width: 425px) and (max-width: 720px){
    
    .titulo{
        font-size: 0.8em;
        margin-top: 30px;
    }

    .subtitulo{
        font-size: 0.9em;

    }
    header {
        width: 400px;
        height: 1vh;
        margin-left: 1px;
    }

    .header-nav ul li a{
        margin-left: 5px;
        font-size: 0.7rem;
    }

    .btno button{

        font-size: 0.9em;
        padding: 9px;
    }

    .card{
        width: 400px;
        margin-left: 10px;
    }

    .background{

        width: 200px;
        height: 200px;
    }

    .content{
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px){
    
    .titulo{
        font-size: 0.8em;
        margin-top: 30px;
    }

    .subtitulo{
        font-size: 0.9em;

    }
    header {
        width: 480px;
        height: 1vh;
        margin-left: 1px;
    }

    .header-nav ul li a{
        margin-left: 5px;
        font-size: 0.7rem;
    }

    .btno button{

        font-size: 0.9em;
        padding: 9px;
    }

    .card{
        width: 400px;
        height: 100px;
        margin-left: 10px;
    }

    .background{

        width: 100px;
        height: 100px;
    }

    .content{
        font-size: 0.5em;
    }
}


@media only screen and (min-width: 720px) and (max-width: 1000px) {
    
    header {
        width: 700px;
        height: 1vh;
        margin-left: 1px;
    }

    .header-nav ul li a{
        margin-left: 5px;
        font-size: 1rem;
    }

    .btno button{

        font-size: 0.9em;
        padding: 9px;
    }

    .card{
        width: 400px;
        margin-left: 98px;
    }

    .background{

        width: 200px;
        height: 200px;
    }

    .content{
        font-size: 0.8em;
    }
}