@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body{

  background-color: rgb(229, 228, 228);
    font-family: 'Poppins';
  
}

  #Txt_top{

    font-size: 1.9em;
    margin-left: 610px;
    color: #00FF00;
    margin-top: 40px;
  }

#Txt_top2{


font-size: 1.4em;
margin-left: 320px;
margin-top: 10px;
color: aliceblue;
}

a{

  text-decoration: none;
}

  /* parte de cima do site*/

  header{
    height: 1vh;
    background-color: rgba(0, 0, 0, 0.624);
    width: 95%;
    margin-left: 5px;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
}

.header-nav ul li a{
    margin: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.header-nav ul li a.active{
    color: #00FF00;

}

a.active{
    border-bottom: 5px solid #00FF00;
}

header, .btno button{

    padding: 30px;
    border-bottom: 5px solid #00FF00;
}

.btno button{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00FF00

}


.btno button:hover{
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: 0.5s linear;
    cursor: pointer;
}

.btno button:hover, a{
        color: #00FF00;
}

.card {
  background-color: aliceblue;
  border-radius: 8px;
  font-family: 'Poppins';
  width: 300px;
  margin: 0px;
  box-shadow: rgba(49, 245, 0, 0.798) 0px 5px 15px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-description {
  color: #555;
}

.card2 {
  background-color: aliceblue;
  border-radius: 8px;
  font-family: 'Poppins';
  width: 315px;
  margin: 0px;
  box-shadow: rgba(49, 245, 0, 0.798) 0px 5px 15px;
}

.card2 img {
  width: 100%;
  height: auto;
}

.card2-content {
  padding: 20px;
}

.card2-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card2-description {
  color: #555;
}
/* imagem 1 */

img{
  width: 200px;
  border-radius: 8px;

}

.IMG1{

  display: flex;
}

.IMG1{

  margin-left: 420px;
  margin-top: 40px;
}


/* imagem 2 */

#img2{
  width: 500px;
  border-radius: 8px;

}


.IMG2{

  display: flex;
}

.IMG2{

  margin-left: 419px;
  margin-top: 20px;
}


/* Responsividade */


@media only screen and (min-width: 425px) and (max-width: 720px){
  .txt3 {
    margin-left: 0;
    display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .IMG1 {
      margin-left: 2.5%;
  }
  
  .IMG3 {
      margin-left: 2.5%;
  
  }

  .IMG2 {
      margin-left: 2.5%;
  }
  
  .IMG4 {
    margin-left: 2.5%;
  }
  .card {
    width: 100%;
  }
  
  .card2 {
    width: 50%;
  }
  
  .card2-description{
    
    font-size: 1rem;
    word-wrap: break-word;
  }
  
  .txt2 {
    margin-left: 0;
  }
  
  .txt1 {
    margin-left: 0;
  }
  
  #Txt_top {
    margin-left: 2.5%;
  }
  #Txt_top2 {
    margin-left: 2.5%;
  }
  
  .header-nav ul li a{
    margin-left: 5px;
    font-size: 0.6rem;
  }
  
  header {
    width: 60vh;
    height: 1vh;
    margin-left: 1px;
  }
  
  .btno button{
    
    font-size: 0.9em;
    padding: 9px;
  }

  @media only screen and (min-width: 500px) and (max-width: 600px){
    .txt3 {
      margin-left: 0;
      display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .IMG1 {
        margin-left: 1%;
    }
    
    .IMG3 {
        margin-left: 2.5%;
    
    }
  
    .IMG2 {
        margin-left: 2.5%;
    }
    
    .IMG4 {
      margin-left: 0.5%;
    }
    .card {
      width: 40%;
    }
    
    .card2 {
      width: 40%;
    }
    
    .card2-description{
      
      font-size: 1rem;
      word-wrap: break-word;
    }
    
    .txt2 {
      margin-left: 0;
    }
    
    .txt1 {
      margin-left: 0;
    }
    
    #Txt_top {
      margin-left: 2.5%;
    }
    #Txt_top2 {
      margin-left: 2.5%;
    }
    
    .header-nav ul li a{
      margin-left: 5px;
      font-size: 0.8rem;
    }
    
    header {
      width: 70vh;
      height: 1vh;
      margin-left: 1px;
    }
    
    .btno button{
      
      font-size: 0.9em;
      padding: 9px;
    }

  }
  
  @media only screen and (min-width: 720px) and (max-width: 768px){
  
    header {
      width: 639px;
      height: 2vh;
      margin-left: 1px;
    }
  
    .header-nav ul li a{
      margin-left: 5px;
      font-size: 1rem;
    }
  
    .btno button{
  
      font-size: 1.5em;
      padding: 9px;
    }
  }
  
    
  .IMG1 {
      margin-left: 1.5%;
  }
  
  .IMG3 {
      margin-left: 2.5%;
  
  }

  .IMG2 {
      margin-left: 2.5%;
  }
  
  .IMG4 {
    margin-left: 2.5%;
  }
  .card {
    width: 60%;
  }
  
  .card2 {
    width: 60%;
  }
  
  .card2-description{
    
    font-size: 1rem;
    word-wrap: break-word;
  }
  
  .txt2 {
    margin-left: 0;
  }
  
  .txt1 {
    margin-left: 0;
  }
  
  #Txt_top {
    margin-left: 2.5%;
  }
  #Txt_top2 {
    margin-left: 2.5%;
  }
}